<% @page_title = "Login" %>

<div id="user_nav">
  
    <%= link_to "Sign up", sign_up_path %> | <%= link_to "About Us", aboutus_path %>
    
  
</div>

<div class="Sign_Form">
  <h1>Log in</h1>
  <%= form_tag logins_path do %>
    <p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p> 
    <p>Password:</br> <%= password_field_tag :login_password %></p> 
    <%= submit_tag("Log In") %>
  <% end %>
 
</div>
